# Gemini
GEMINI_API_KEY=GEMINI_API_KEY
GEMINI_DEFAULT_MODEL=gemini-3-flash-preview

# OpenAI
OPENAI_API_KEY=OPENAI_API_KEY
OPENAI_DEFAULT_MODEL=gpt-5.1

# Groq
GROQ_API_KEY=GROQ_API_KEY
GROQ_DEFAULT_MODEL=openai/gpt-oss-20b

# Service configs
SERVICE_NAME=SERVICE_NAME
INTERNAL_SERVICE_SECRET=INTERNAL_SERVICE_SECRET
